<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="XD">
	
	<title>Detección deplagas</title>

	<link rel="shortcut icon" href="https://previews.123rf.com/images/rogistok/rogistok1803/rogistok180300053/98414904-s%C3%ADmbolo-de-icono-de-control-de-plagas-de-cucarachas.jpg">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='magister.css') }}">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Plaga y subtitulo -->
				<h1 class="title">Barrenador de tallo</h1>
				<h2 class="subtitle">Insecticcida recomendado: PROCLAIM® 5</h2>

				<!-- Recomendaciones para evitar la plaga -->
				<h3 class="tagline">
					En las plántulas (a menudo incluso en los viveros) el ataque provoca que 
                    las hojas jóvenes se marchitan y los puntos vegetativos mueren, 
                    un síntoma al que se le conoce como "corazón muerto". En las plantas maduras 
                    las larvas jóvenes hacen pequeños orificios en las hojas, especialmente en 
                    las vainas de las hojas. Las larvas más maduras perforan orificios en la 
                    base de los entrenudos, ingresan al interior de la planta y se alimentan de 
                    los tejidos vasculares blandos, a veces ahuecándolos por completo.
				</h3>
				
				<!-- 	URl de la imagen de plaga -->
				<p><img src="https://content.peat-cloud.com/w400/asiatic-rice-borer-rice-1.jpg" alt=""></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>
