<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="XD">
	
	<title>Detección deplagas</title>

	<link rel="shortcut icon" href="https://previews.123rf.com/images/rogistok/rogistok1803/rogistok180300053/98414904-s%C3%ADmbolo-de-icono-de-control-de-plagas-de-cucarachas.jpg">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='magister.css') }}">
	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Plaga y subtitulo -->
				<h1 class="title">Escarabajo</h1>
				<h2 class="subtitle">Insecticcida recomendado: Heat® WG</h2>

				<!-- Recomendaciones para evitar la plaga -->
				<h3 class="tagline">
					Los escarabajos adultos se alimentan externamente de la epidermis superior, 
                    produciendo un patrón característico de rayas blancas paralelas a lo largo 
                    del eje principal de las hojas. En caso de una infestación severa, 
                    incluso las venas pueden verse afectadas y causar la aparición de grandes 
                    manchas blancas. Los adultos a menudo están presentes en las hojas dañadas, 
                    generalmente en el lado superior. Las larvas se alimentan del tejido verde 
                    entre las dos epidermis de las hojas y producen un túnel a lo largo de las 
                    venas, además de manchas blancas.
				</h3>
				
				<!-- 	URl de la imagen de plaga -->
				<p><img src="https://content.peat-cloud.com/w400/rice-hispa-rice-1553250919.jpg" alt=""></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>