<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="XD">
	
	<title>Detección deplagas</title>

	<link rel="shortcut icon" href="https://previews.123rf.com/images/rogistok/rogistok1803/rogistok180300053/98414904-s%C3%ADmbolo-de-icono-de-control-de-plagas-de-cucarachas.jpg">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='magister.css') }}">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Plaga y subtitulo -->
				<h1 class="title">Mosca de Sierra</h1>
				<h2 class="subtitle">Insecticcida recomendado: Basagran® SL.
                </h2>

				<!-- Recomendaciones para evitar la plaga -->
				<h3 class="tagline">
					La mosca minadora del arroz, como se conoce comúnmente, es un 
                    Díptero que se caracteriza por ser un insecto-plaga que ataca 
                    al cultivo de arroz en las primeras etapas de crecimiento. 
                    En los últimos años, la población de este insecto ha aumentado 
                    de forma constante, debido al manejo inadecuado de insecticidas 
                    y a variaciones  climáticas  que  favorecen  su  desarrollo.  
                    La  larva  ocasiona  daños de importancia en plantas tiernas hasta 
                    los primeros 45 días de desarrollo (semillero y trasplante).
				</h3>
				
				<!-- 	URl de la imagen de plaga -->
				<p><img src="https://www.ecured.cu/images/0/0e/Mosca_hydrelia_adulta.png" alt=""></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>
